.row.nested-fields
  .col-xs-12.col-md-11.col-md-offset-1
    .row
      .col-xs-5
        .form-group
          = f.text_field :text, class: 'form-control', placeholder: 'enter text'
      .col-xs-4
        .form-group
          = f.select :position, TextAsset::POSITIONS , {include_blank: 'Choose'}, {class: 'form-control'}
      .col-xs-3.text-left
        = link_to_remove_association f, title: 'Remove',class: 'btn btn-default btn-sm', data: {toggle: 'tooltip'} do
          %i.fa.fa-remove