.row.nested-fields
  .col.s12
    .row.valign-wrapper
      .col.s12.m5
        .form-group
          = f.text_field :text, class: 'form-control', placeholder: 'enter text'
      .col.s12.m5
        .form-group
          = f.select :position, TextAsset::POSITIONS , {include_blank: 'Choose'}, {class: 'form-control'}
      .col.s12.m2.center.valign
        = link_to_remove_association f, title: 'Remove',class: '', data: {toggle: 'tooltip'} do
          %i.material-icons.red-text delete