.row.text-center.nested-fields
  .col-sm-7
    .form-group
      = f.text_field :text, class: 'form-control', placeholder: 'enter text'
  .col-sm-3
    .form-group
      = f.select :position, TextAsset::POSITIONS , {include_blank: 'Choose'}, {class: 'form-control'}
  .col-sm-2
    = link_to_remove_association "- remove", f