- page_title 'Forgot your password'
%body.hold-transition.login-page
  .login-box
    .login-logo
      %a{:href => root_url}
        %b> ASS
        SDK
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = render 'shared/error_messages', resource: resource
      .login-box-body
        %p.login-box-msg Forgot your password?
        .form-group.has-feedback
          = f.email_field :email, class: 'form-control',placeholder: 'Enter Email'
          %span.glyphicon.glyphicon-envelope.form-control-feedback
        .row
          .col-xs-12.pull-right
            %button.btn.btn-primary.btn-block.btn-flat.btn-progress{"data-loading-text"=>btn_prog_text('Sending..'),:type => "submit"} Send
        %br/
        %a.text-center{:href => new_registration_path(resource_name)} Register a new membership