.bg
  .container
    .row.header
      .row
        .col-md-6
          .well.logo
            = link_to image_tag('home/logo.png'),'#'
        .well.col-md-6
          .login-info.well.header-right
            %p
              - if user_signed_in?
                %i
                  %a{href: '#'} Check your
                %a.login.btn-primary{href: my_apps_path} Dashboard
              - else
                %i
                  %a{href: '#'} Have an Account ?
                %a.login.btn-primary{href: new_session_path(resource_name)} Login
    .well.slide-banner.row
      .slide-banner-left.col-md-8
        %span
        %h1 Lorem ipsum dolor sit amet
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        %p
          %a.btn.btn-primary.btn-lg.b-btn{:href => "#"} Read More
      .well.slide-banner-right.col-md-4
        %img.img-responsive{:alt => "", src: asset_path('home/slider-img.png')}
      .clearfix
