.footer
  .container
    .row
      .col-md-6.footer-left
        %ul
          %li
            %a{:href => "#"}
              %img{:src => asset_path('home/footer-logo.png') ,:title => "logo"}/
          %li
            %p
              by
              %a{:href => t('app.company.url')}= t('app.company.name')
      .col-md-6.footer-right
        %ul
          %li
            %a.twitter{:href => "#"}
              %span
          %li
            %a.facebook{:href => "#"}
              %span