%ul.list-unstyled.clearfix
  %li{:style => "float:left; width: 33.33333%; padding: 5px;"}
    %a.clearfix.full-opacity-hover{"data-skin" => "skin-blue", :href => "javascript:void(0);", :style => "display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"}
      %div
        %span{:style => "display:block; width: 20%; float: left; height: 7px; background: #367fa9;"}
        %span.bg-light-blue{:style => "display:block; width: 80%; float: left; height: 7px;"}
      %div
        %span{:style => "display:block; width: 20%; float: left; height: 20px; background: #222d32;"}
        %span{:style => "display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"}
    %p.text-center.no-margin Blue
  %li{:style => "float:left; width: 33.33333%; padding: 5px;"}
    %a.clearfix.full-opacity-hover{"data-skin" => "skin-black", :href => "javascript:void(0);", :style => "display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"}
      .clearfix{:style => "box-shadow: 0 0 2px rgba(0,0,0,0.1)"}
        %span{:style => "display:block; width: 20%; float: left; height: 7px; background: #fefefe;"}
        %span{:style => "display:block; width: 80%; float: left; height: 7px; background: #fefefe;"}
      %div
        %span{:style => "display:block; width: 20%; float: left; height: 20px; background: #222;"}
        %span{:style => "display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"}
    %p.text-center.no-margin Black
  %li{:style => "float:left; width: 33.33333%; padding: 5px;"}
    %a.clearfix.full-opacity-hover{"data-skin" => "skin-purple", :href => "javascript:void(0);", :style => "display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"}
      %div
        %span.bg-purple-active{:style => "display:block; width: 20%; float: left; height: 7px;"}
        %span.bg-purple{:style => "display:block; width: 80%; float: left; height: 7px;"}
      %div
        %span{:style => "display:block; width: 20%; float: left; height: 20px; background: #222d32;"}
        %span{:style => "display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"}
    %p.text-center.no-margin Purple
  %li{:style => "float:left; width: 33.33333%; padding: 5px;"}
    %a.clearfix.full-opacity-hover{"data-skin" => "skin-green", :href => "javascript:void(0);", :style => "display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"}
      %div
        %span.bg-green-active{:style => "display:block; width: 20%; float: left; height: 7px;"}
        %span.bg-green{:style => "display:block; width: 80%; float: left; height: 7px;"}
      %div
        %span{:style => "display:block; width: 20%; float: left; height: 20px; background: #222d32;"}
        %span{:style => "display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"}
    %p.text-center.no-margin Green
  %li{:style => "float:left; width: 33.33333%; padding: 5px;"}
    %a.clearfix.full-opacity-hover{"data-skin" => "skin-red", :href => "javascript:void(0);", :style => "display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"}
      %div
        %span.bg-red-active{:style => "display:block; width: 20%; float: left; height: 7px;"}
        %span.bg-red{:style => "display:block; width: 80%; float: left; height: 7px;"}
      %div
        %span{:style => "display:block; width: 20%; float: left; height: 20px; background: #222d32;"}
        %span{:style => "display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"}
    %p.text-center.no-margin Red
  %li{:style => "float:left; width: 33.33333%; padding: 5px;"}
    %a.clearfix.full-opacity-hover{"data-skin" => "skin-yellow", :href => "javascript:void(0);", :style => "display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"}
      %div
        %span.bg-yellow-active{:style => "display:block; width: 20%; float: left; height: 7px;"}
        %span.bg-yellow{:style => "display:block; width: 80%; float: left; height: 7px;"}
      %div
        %span{:style => "display:block; width: 20%; float: left; height: 20px; background: #222d32;"}
        %span{:style => "display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"}
    %p.text-center.no-margin Yellow
  %li{:style => "float:left; width: 33.33333%; padding: 5px;"}
    %a.clearfix.full-opacity-hover{"data-skin" => "skin-blue-light", :href => "javascript:void(0);", :style => "display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"}
      %div
        %span{:style => "display:block; width: 20%; float: left; height: 7px; background: #367fa9;"}
        %span.bg-light-blue{:style => "display:block; width: 80%; float: left; height: 7px;"}
      %div
        %span{:style => "display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"}
        %span{:style => "display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"}
    %p.text-center.no-margin{:style => "font-size: 12px"} Blue Light
  %li{:style => "float:left; width: 33.33333%; padding: 5px;"}
    %a.clearfix.full-opacity-hover{"data-skin" => "skin-black-light", :href => "javascript:void(0);", :style => "display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"}
      .clearfix{:style => "box-shadow: 0 0 2px rgba(0,0,0,0.1)"}
        %span{:style => "display:block; width: 20%; float: left; height: 7px; background: #fefefe;"}
        %span{:style => "display:block; width: 80%; float: left; height: 7px; background: #fefefe;"}
      %div
        %span{:style => "display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"}
        %span{:style => "display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"}
    %p.text-center.no-margin{:style => "font-size: 12px"} Black Light
  %li{:style => "float:left; width: 33.33333%; padding: 5px;"}
    %a.clearfix.full-opacity-hover{"data-skin" => "skin-purple-light", :href => "javascript:void(0);", :style => "display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"}
      %div
        %span.bg-purple-active{:style => "display:block; width: 20%; float: left; height: 7px;"}
        %span.bg-purple{:style => "display:block; width: 80%; float: left; height: 7px;"}
      %div
        %span{:style => "display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"}
        %span{:style => "display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"}
    %p.text-center.no-margin{:style => "font-size: 12px"} Purple Light
  %li{:style => "float:left; width: 33.33333%; padding: 5px;"}
    %a.clearfix.full-opacity-hover{"data-skin" => "skin-green-light", :href => "javascript:void(0);", :style => "display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"}
      %div
        %span.bg-green-active{:style => "display:block; width: 20%; float: left; height: 7px;"}
        %span.bg-green{:style => "display:block; width: 80%; float: left; height: 7px;"}
      %div
        %span{:style => "display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"}
        %span{:style => "display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"}
    %p.text-center.no-margin{:style => "font-size: 12px"} Green Light
  %li{:style => "float:left; width: 33.33333%; padding: 5px;"}
    %a.clearfix.full-opacity-hover{"data-skin" => "skin-red-light", :href => "javascript:void(0);", :style => "display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"}
      %div
        %span.bg-red-active{:style => "display:block; width: 20%; float: left; height: 7px;"}
        %span.bg-red{:style => "display:block; width: 80%; float: left; height: 7px;"}
      %div
        %span{:style => "display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"}
        %span{:style => "display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"}
    %p.text-center.no-margin{:style => "font-size: 12px"} Red Light
  %li{:style => "float:left; width: 33.33333%; padding: 5px;"}
    %a.clearfix.full-opacity-hover{"data-skin" => "skin-yellow-light", :href => "javascript:void(0);", :style => "display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"}
      %div
        %span.bg-yellow-active{:style => "display:block; width: 20%; float: left; height: 7px;"}
        %span.bg-yellow{:style => "display:block; width: 80%; float: left; height: 7px;"}
      %div
        %span{:style => "display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"}
        %span{:style => "display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"}
    %p.text-center.no-margin{:style => "font-size: 12px;"} Yellow Light