#tour-assets-carousel.carousel.slide
  .carousel-inner
    - tour_prompts.in_groups_of(4, false).each_with_index do |prompt_group, index|
      .item{class: index.eql?(0) ? 'active' : nil}
        %ul.thumbnails
          - prompt_group.each do |prompt|
            %li.col-sm-3
              .fff
                .thumbnail
                  %a{:href => "#"}
                    %img{:alt => "", :src => prompt.source.thumb.url}/
                .caption
                  %h4= prompt.heading
                  %p= prompt.content
                  -#%a.btn.btn-mini{:href => "#"} Edit
  %nav
    %ul.control-box.pager
      %li
        %a{"data-slide" => "prev", :href => "#tour-assets-carousel"}
          %i.glyphicon.glyphicon-chevron-left
      %li
        %a{"data-slide" => "next", :href => "#tour-assets-carousel"}
          %i.glyphicon.glyphicon-chevron-right
