#tour-assets-carousel.carousel.slide
  .carousel-inner
    - tour_prompts.in_groups_of(4, false).each_with_index do |prompt_group, index|
      .item{class: index.eql?(0) ? 'active' : nil}
        %ul.thumbnails.magnific-popup-gallery
          - prompt_group.each do |prompt|
            %li.col-sm-3
              .fff
                .thumbnail
                  %a{href: prompt.source.url, title: prompt.content}
                    %img{src: prompt.source.thumb.url}/
                .caption
                  %h4= prompt.header
                  %p= prompt.content
                  -#%a.btn.btn-mini{:href => "#"} Edit
  - if tour_prompts.size > 4
    %nav
      %ul.control-box.pager
        %li
          %a{"data-slide" => "prev", :href => "#tour-assets-carousel"}
            %i.glyphicon.glyphicon-chevron-left
        %li
          %a{"data-slide" => "next", :href => "#tour-assets-carousel"}
            %i.glyphicon.glyphicon-chevron-right
