= page_title('Dashboard')
.row
  .col-lg-12
    .page-heading.text-center Summary
.row
  - if @my_apps.present?
    .col-lg-12
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th App Name
              %th Production Version
              %th Last Access Time
              %th Last Activity
          %tbody
            - @my_apps.each do |app|
              %tr
                %td= link_to app.name, app_path(app)
                %td= app.current_version
                %td TODO
                %td TODO
  - else
    .col-lg-12
      .alert.alert-warning
        %a.btn.btn-xs.btn-warning.pull-right{href: new_app_path} Add new
        %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
        Currently no apps added.