.row
  .col-lg-12
    %h3.page-header My Apps
.row
  - if @apps.present?
    - @apps.each do |app|
      .col-lg-6
        .panel.panel-default
          .panel-heading
            = link_to app.name, app_path(app)
          .panel-body= app.description
          .list-group
            %a.list-group-item{:href => "#"}
              %h5.list-group-item-heading
                %strong ClientId
              %p.list-group-item-text= app.client_id
            %a.list-group-item{:href => "#"}
              %h5.list-group-item-heading
                %strong Client Secret
              %p.list-group-item-text.secret-token-text= app.secret_token
          .panel-footer.clearfix
            .pull-right
              -#%a.btn.btn-primary{:href => edit_app_path(app)}
                %i.fa.fa-edit &nbsp;&nbsp;Edit
              %a.btn.btn-primary.btn-sm{:href => app_path(app)} Show
              - if app.tour_pre_prompts.eql?(0)
                %a.btn.btn-default{:href => "#"} Add Tour
  - else
    .col-lg-12
      .alert.alert-warning
        %a.btn.btn-xs.btn-warning.pull-right{href: new_app_path} Add new
        Currently no apps added.