.container
  .card-panel
    .row
      .col.s12
        .row
          .col.s6
            %b Create New App
          .col.s6.right-align
            %a.waves-effect.waves-light.btn{href: new_app_path }
              %i.material-icons.left add
              New
        .divider
        %br
          .row 