// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "ionicons";
@import "admin-lte";
@import "growlyflash";
@import "skins/_all-skins";
@import "turbolinks_progress_bar";
@import "magnific-popup";

.table {
  td, th {
    text-align: center !important;
    // deafult is left
  }
}

/*Create New APP: Platform images*/
.platform-images span {
  background: white none repeat scroll 0 0;
  border-radius: 15px;
  bottom: -4px;
  left: -66px;
  position: relative;
  &.ios {
    border: 2px solid green;
    color: green;
  }
  &.android {
    border: 2px solid gray;
    color: gray;
  }
}

// override to decrease padding
.content-header {
  padding: 1px 15px !important;
  .breadcrumb {
    top: 3px;
  }
}

.content {
  padding-top: 10px; //default is 15px
}